/* -- GLOBAIS --*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   
}
:root {
    --azul--: #25167a;
    --preto--: #000000ee;
    --branco--: rgb(247, 247, 247);
}

.negrito {
    font-weight: 600;
}
body {
    background-color: var(--preto--);
    color: var(--branco--);
  }

/*==== HEADER ====*/
body header {
    background-color: #ffffff;
    color: var(--preto--);
    display: flex;
    flex-direction: row;
} 
 
header .txt_container{
    text-align: justify;
} 
/* Títulos da header*/

header div#titulos {
    width: 40%;
    margin: 30% auto;
}

.txt_container h1 {
    font-size: 4em;
    font-weight: 700;
    color: var(--azul--);
}

.txt_container h2 {
    font-size: 2em;
    font-weight: 300;
}

/* imagem da header */

body header .img_container {
    width: 50%;
    margin: auto;


} 
header .img_container img {
    width: 100%;
} 
/* ===BODY === */
body main section.sist-infos-container .blue {
    background-color: var(--azul--);
    color: var(--branco--);
    display: flex;
    flex-direction: row;  
}
body main section.sist-infos-container .white {
    background-color: var(--branco--);
    color: var(--preto--);
    display: flex;
    flex-direction: row-reverse;
}

/* TEXTOS e títulos */
body main section.sist-infos-container h1 {
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
}

body main section.sist-infos-container p {
    font-size: 1.3em;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 10px;
}

/* alinhamento dos textos na página */
section article div.info-txt {
    width: 750px;
    padding: 50px;
    margin-left: 100px;
  }

  /* Ver mais */

  .btn-1, .btn-2, .btn-3, .btn-4 {
  width: 120px;
  text-align: center;
  border: 1px solid;
  border-color: inherit;
  margin: 20px 0;
  }

input {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: inherit;
    border: none;
    padding: 5px;
    font-size: 20px;

 }

 .seta {
    cursor: pointer;
    font-size: 20px;

}

/* conteúdo Campo de atuação */
#verMais2 ul {
    margin: 1em 2em
}
#verMais2 li{
    font-size: 1.4em;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 10px;
}


  /* Imagens */
   article div.info-img img  {
    width: 400px;
    height: auto;
  }

  article div.info-img {
    margin: auto;

  }     




   /*===== Footer ===== */
li a:link{text-decoration: none; color: black;}
li a:visited{text-decoration: none; color: black;}
li a:hover{font-weight: bold; color:#25167a;}
#txtsobre{text-align: justify;}

   /* RESPONSIVIDADE */
div.txt-hidden {
    transition: all 300ms;
    }

  div.txt-hidden {
    flex-direction: row-reverse;
}

@media (max-width: 850px) 
{

    .info-txt {
        width: 750px;
        padding: 5px;
        margin-left: 10px;
      }
        /* Imagens */
   .info-img img  {
    width: 200px;
    height: auto;
  }

}


@media (max-width: 760px) 
{

    body header, body main section, #titulos{
        flex-direction: column;
        font-size: 12px;
        width: 100%;   
    }

    header div#titulos {
        width: 40%;
        margin: 100px auto;
    }
    header .img_container{
        width: 100%;
        margin: 0px;
    }

    body main section.sist-infos-container .blue, body main section.sist-infos-container .white {
        flex-direction: column;
        font-size: 12px;

    }
 
    section article div.info-txt {
        width: auto;
        padding: 5px;
        margin-left: 10px;
      }
      

      section article div.info-img img  {
          margin: 50px 0;
         width: 300px;
        height: auto;
      }

      .btn-1, .btn-2, .btn-3, .btn-4 {
        width: auto;
     
    }
  

 }
/* Classe removida por JS */

.txt-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin-top: -70px;

}

div.txt-hidden {
    transition: all 300ms;
    }
